body {
  padding-top: 50px;
}

#huffman_graph-label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#huffman_graph *{
	cursor: move !important;
}

.fileinput-button input
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0.0;
	filter: alpha(opacity=0);
	-o-transform: translate(250px, -50px) scale(1);
	-moz-transform: translate(-300px, 0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.fileinput-button
{
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}